.upload-files {

  .fade.in {
    opacity: 1;
  }

  .upload-files-header {
    border-bottom: 1px solid lightgray;
    
    .btn {
      border-color: lightgray;
      border-radius: 0.2rem;
    }
  }

  .table {
    a:hover {
      text-decoration: underline;
    }
    img {
      max-width: 64px;
    }
  }

  .progress {
    height: 5px;
  }

}
