// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Page Container
// + @Main Content
// + @Full Container
// + @Collapsed State

// ---------------------------------------------------------
// @Page Container
// ---------------------------------------------------------

.page-container {
  min-height: 100vh;
  padding-left: $offscreen-size;
  transition: all 0.2s ease;

  @include between($breakpoint-md, $breakpoint-xl) {
    padding-left: $collapsed-size;
  }

  @include to($breakpoint-md) {
    padding-left: 0;
  }
}

// ---------------------------------------------------------
// @Main Content
// ---------------------------------------------------------

.main {
  padding: 65px 0px 0px;
  height: 100vh;
  overflow: hidden !important;

  @include to($breakpoint-md) {
    padding: 65px 0px 0px;
  }
}

.main-content{
  height: calc(100vh - 65px);
}

#mainContent{
  min-height: calc(100vh - 126px);
  padding: 20px;
}

.remain-height {
  height: calc(100vh - 126px);
}

// ---------------------------------------------------------
// @Full Container
// ---------------------------------------------------------

.full-container {
  margin: -20px;
  min-height: calc(100vh - #{$header-height} - 61px);
  transition: all 0.2s ease;
}

// ---------------------------------------------------------
// @Collapsed State
// ---------------------------------------------------------

.is-collapsed {
  .page-container {
    padding-left: $collapsed-size;

    @include to($breakpoint-md) {
      padding-left: 0;
    }

    @include between($breakpoint-md, $breakpoint-xl) {
      padding-left: $offscreen-size;
    }
  }
}
