@import 'context/scss/settings/index';
@import 'context/scss/tools/mixins/index';

@import '~bootstrap/scss/bootstrap';
// @import '~font-awesome/scss/font-awesome';

//阿里字体图标
@import './assets/styles/font/icon-ali/iconfont.css';

.progress {
  height: 4px;
  background-color: #eaeef3;
  border-radius: 4px;
  margin-bottom: 10px;
}
