.nm-select {
  input{
    border-right-width: 0px;    
  }

  a.disabled {
    color: #c3c3c3;
  }

  li {
    cursor: default;
  }
  
  .input-group-text{
    border-left-width: 0px;
    background-color: white;
  }

  .item-container-wrapper {
    position: relative;
    max-height: 400px;
    overflow-y: auto;
  }
}