.nm-signup {
  .content {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #666, $alpha: 0.2);
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .bg-img {
    background: url(./images/bg_nm.jpg);
  }

  .body {
    width: 432px;
    // height: 505px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    color: #71818e;

    .logo {
      background: url(./images/logo_nm.png);
      width: 247px;
      height: 59px;
      margin: 35px auto;
      margin-top: 50px;
    }

    .row {
      margin: 0px 40px;

      input[type="text"],
      input[type="password"] {
        font-size: 14px;
        color: #474e53;
        border: none;
        font-weight: bold;
        flex: 1;

        &::placeholder {
          font-size: 14px;
          color: #9fadb9;
          font-weight: normal;
        }
      }

      .email {
        display: none;
      }

      &.user-name input {
        padding-left: 15px;
      }

      &.verify-code span {
        color: #ff9c00;
        cursor: pointer;
        padding-left: 15px;

        &.disabled {
          color: #9fadb9;
          cursor: default;
        }
      }

      .input-box {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
      }

      .error {
        margin: 0px;
        min-height: 26px;
        width: 100%;
        color: #df0000;
        font-weight: 600;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 3px;
        visibility: hidden;
        text-align: left;

        &.show {
          visibility: visible;
        }
      }

      #checkbox-agree {
        display: none;
      }

      #checkbox-agree+label {
        font-size: 14px;
        color: #71818e;
      }

      #checkbox-agree+label::before {
        padding-right: 6px;
        font-size: 19px;
        color: #acb4bb;
        position: relative;
        top: 2px;
      }

      #checkbox-agree+label a {
        color: #71818e;
      }

      #checkbox-agree:checked+label::before {
        content: "\e62f";
        color: #333f49;
      }

      .menu {
        position: relative;
        cursor: pointer;

        .menu-option {
          display: none;
          position: absolute;
          background: #fff;
          left: -0.5rem;
          top: 25px;
          width: 90px;
          border: 1px solid #ebebeb;
          border-radius: 3px;
          padding-top: 0.5rem;

          li {
            padding-left: 20px;
            height: 32px;
            line-height: 32px;
          }

          li.active {
            background: #f0f4f7;
          }
        }

        .menu-text {
          padding-right: 50px;
          background: url(./images/down_nm.jpg) no-repeat 50px 6px;
        }

        &::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 23px;
          background: #ebebeb;
          position: absolute;
          left: 78px;
          top: 0px;
        }
      }

      &.submit {
        padding-top: 1rem;

        .submit-btn {
          font-size: 1rem;
          color: #fff;
          background: #333f49;
          box-shadow: none;
        }
      }
    }

    .footer {
      height: 55px;
      margin-top: 45px;
      background: #f6f6f6;
      border-top: 1px solid #ebebeb;
      border-radius: 0px 0px 3px 3px;
      text-align: center;

      p {
        height: 55px;
        line-height: 55px;
        font-size: 1rem;
        color: #3e4e47;

        a {
          color: #ff9c00;
        }
      }
    }

    .model-2 {
      display: none;

      .msg {
        padding-bottom: 0.8rem;
        border-bottom: 1px solid #ebebeb;

        .pic {
          width: 100%;
          text-align: center;
          padding-bottom: 1rem;

          img {
            width: 90px;
          }
        }

        p:first-of-type {
          font-size: 18px;
          color: #3f464c;
          padding-bottom: 1rem;
        }
      }

      p {
        width: 100%;
        text-align: center;
        line-height: 1.4rem;
        margin: 0px;
      }

      .again {
        padding-top: 0.8rem;
        padding-bottom: 3.8rem;

        a {
          color: #ff9c00
        }
      }
    }

  }

  .copy {
    position: fixed;
    bottom: 0px;
    color: #fff;
  }
}