<div class="view-container row">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <div class="view-header pB-5 mB-15">
        <span class="icon mR-5">
          <i></i>
        </span>
        <h4 class="c-grey-900 d-ib">View</h4>
        <span class="favorite mL-10">
          <i class="ti-star"></i>
        </span>
        <div class="modal fade" id="save-as" tabindex="-1" role="dialog" aria-labelledby="newView" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Save as ...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="new-view">
                  <div class="form-group">
                    <label for="newViewTitle">View Title</label>
                    <input type="text" class="form-control" name="title" aria-describedby="viewHelp" placeholder="Enter title of view">
                    <span class="messages"></span>
                  </div>
                  <button type="submit" class="btn btn-primary d-none">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="actions btn-group pull-right">
          <button type="button" class="save btn btn-primary btn-sm">Save</button>
          <button type="button" class="cancel btn btn-sm">Cancel</button>
          <button type="button" class="more btn btn-outline-secondary btn-sm btn-light" data-toggle="dropdown">
            <i class="fa fa-ellipsis-h"></i>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item save-as">Save as ...</li>
            </ul>
          </button>
        </div>
      </div>
      <div class="search-container mB-10"></div>
      <!--       <table class="table view-table table-striped table-hover" cellspacing="0" width="100%">
        <tbody></tbody>
        <tfoot></tfoot>
      </table> -->
    </div>
  </div>
</div>
