<div class="view-container row">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <div class="view-header pB-5 mB-15">
        <span class="icon mR-5">
          <i></i>
        </span>
        <h4 class="c-grey-900 d-ib">View</h4>
        <span class="favorite mL-10">
          <i class="ti-star"></i>
        </span>
        <div class="actions btn-group float-right">
          <button type="button" class="save btn btn-primary btn-sm">Save</button>
          <button type="button" class="cancel btn btn-sm">Cancel</button>
          <button type="button" class="more btn btn-outline-secondary btn-sm btn-light" data-toggle="dropdown">
            <i class="ti-more-alt"></i>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item save-as">Save as ...</li>
            </ul>
          </button>
        </div>
      </div>
      <div class="search-container mB-10"></div>
      <!--       <table class="table view-table table-striped table-hover" cellspacing="0" width="100%">
        <tbody></tbody>
        <tfoot></tfoot>
      </table> -->
    </div>
  </div>
</div>
