.nm-fulltextsearch.input-group {
  display: inline-flex;
  width: fit-content;
  vertical-align: middle;
  border-radius: 0.2rem;

  input{
    width: 80px;
    border-right-width: 0px;
  }

  .input-group-text{
    border-left-width: 0px;
    background-color: white;
  }  
}