.nm-forgit-password {
  .content {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #666, $alpha: 0.2);
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .bg-img {
    background: url(./images/bg_nm.jpg);
  }

  .body {
    width: 432px;
    background: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    color: #71818e;

    .row {
      margin: 0px 40px;
      position: relative;

      &.title {
        padding: 42px 0px;

        h2 {
          color: #2A2D30;
          font-weight: bold;
          margin: 0px;
          font-size: 22px;
          width: 100%;
        }

        p {
          font-size: 16px;
          margin: 0px;
          color: #646d74;
          line-height: 22px;
        }
      }

      input {
        font-size: 14px;
        color: #474e53;
        border: none;
        font-weight: bold;
        flex: 1;

        &::placeholder {
          font-size: 14px;
          color: #9fadb9;
          font-weight: normal;
        }
      }

      &.verify-code span {
        color: #ff9c00;
        cursor: pointer;
        padding-left: 15px;

        &.disabled {
          color: #9fadb9;
          cursor: default;
        }
      }

      .input-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;

        span.username {
          color: #9fadb9;
          font-weight: bold;
        }

        span.edit {
          color: #ff9c00;
          cursor: pointer;
        }
      }

      &.random img {
        position: absolute;
        right: 0px;
        top: -20px;
      }

      .error {
        margin: 0px;
        min-height: 26px;
        width: 100%;
        color: #df0000;
        // font-weight: 600;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 3px;
        visibility: hidden;
        text-align: left;

        &.show {
          visibility: visible;
        }
      }

      &.submit {
        padding-top: 0.3rem;

        .submit-btn {
          font-size: 1rem;
          color: #fff;
          background: #333f49;
          box-shadow: none;
        }
      }



      &.help {
        justify-content: space-between;
        padding-bottom: 55px;

        p {
          margin-bottom: 0px;
          margin-top: 6px;
          cursor: pointer;
          text-align: left;
          width: auto;
          height: 26px;
          line-height: 28px;

          a {
            color: #ff9c00;
          }
        }
      }
    }

    .model-4,
    .model-2,
    .model-3 {
      display: none;
    }

    .model-3 {
      .title {
        padding-bottom: 20px;
      }
    }

    .model-4 {
      .pic {
        justify-content: center;

        img {
          width: 71px;
          height: 88px;
          margin-top: 93px;
          margin-bottom: 17px;
        }

        p {
          font-size: 22px;
          color: #2a2d30;
          font-weight: bold;
          padding-left: 14px;
          margin-bottom: 33px;
        }
      }
      .submit{
        padding-bottom: 70px;
      }
    }

  }

  .copy {
    position: fixed;
    bottom: 0px;
    color: #fff;
  }
}